  # Min Age (should not be modified unless data is modified accordingly)
 1
 # Max Age (should not be modified unless data is modified accordingly)
 7
 # Max Age considered a plus group (0=No, 1=Yes)
 1
 # The following matrix describes the coupling
 # of fishing mortality STATES
 # Rows represent fleets.
 # Columns represent ages.
 1	2	3	4	5	6	6
 0	0	0	0	0	0	0
 # Use correlated random walks for the fishing mortalities
 # ( 0 = independent, 1 = symmetrical correlation estimated, 2=AR(1)-correlation estimated)
 1
 # Coupling of catchability PARAMETERS
 0	0	0	0	0	0	0
 1	2	3	4	5	0	0
 # Coupling of power law model EXPONENTS (if used)
 0	0	0	0	0	0	0
 0	0	0	0	0	0	0
 # Coupling of fishing mortality RW VARIANCES
 1	1	1	1	1	1	1
 0	0	0	0	0	0	0
 # Coupling of log N RW VARIANCES
 1	2	2	2	2	2	2
 # Coupling of OBSERVATION VARIANCES
 1	2	3	3	3	3	3
 4	5	5	5	5	0	0
 # Stock recruitment model code (0=RW, 1=Ricker, 2=BH, ... more in time)
 2
 # Years in which catch data are to be scaled by an estimated parameter 
 # first the number of years 
0
 # Then the actual years 
 # Them the model config lines years cols ages 
 # Define Fbar range
 2	4
